@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
}

.container {
  width: 375px;
}

.share-text {
  letter-spacing: 5px;
  font-weight: 100;
}

.triangle {
  width: 20px;
  height: 20px;
  background-color: hsl(217, 19%, 35%);
  position: absolute;
  top: 99%;
  left: 76%;
  transform: rotateY(0deg) rotate(45deg);
}

@media (min-width: 768px) {
  .container {
    width: 700px;
  }

  .share {
    background-color: hsl(217, 19%, 35%);
    /* width: 30%; */
    width: fit-content;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 65%;
    padding: 1%;
  }

  .triangle {
    width: 20px;
    height: 20px;
    background-color: hsl(217, 19%, 35%);
    position: absolute;
    top: 83%;
    left: 40%;
    transform: rotateY(0deg) rotate(45deg);
  }
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */
